.chart {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000;
}


.aboutUsCardStyle{
    display: flex;
    border: 1px solid #000;
    justify-content: center;
}
